{% extends 'basePage.html' %}
{% load static %}

<head>
    {% block content1 %}
        <style>
            h4 {
                color: white;
                width: 70%;
                padding: 12px 20px;
                margin: 0px 0px 10px 40%;
            }


        </style>
    {% endblock content1 %}
</head>

{% block content %}

    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-text">
                        {% for i in data %}
                            <h4>{{ i.title }} <a style="  margin: 0px 0px 0px  230px;  color: white">Status:
                                {% if i.approval %}
                                    Approved

                                {% else %}
                                    Pending
                                {% endif %}</a></h4>
                            <p>{{ i.write_blog }}</p><br>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}
