{% extends 'basePage.html' %}
{% block content1 %}
    <style>


        button {
            width: 50%;
            padding: 12px 20px;
            margin: 10px 0px 10px -10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: white;

        }


    </style>
{% endblock content1 %}
{% block content %}

    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-text">


                        <div>
                            {% csrf_token %}
                            <p>Password has been set. You may go ahead and login now with new password
                                <a href="{% url 'login_view' %}">
                                    <button type="submit">login</button>
                                </a></p>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}